.footer-child {
  position: absolute;
  height: 100%;
  width: 39.13%;
  top: 0;
  right: 57.11%;
  bottom: 0;
  left: 3.77%;
  border-radius: 50%;
  background-color: #3affb8;
  filter: blur(591.4px);
  opacity: 0.52;
}
.footer-item {
  position: absolute;
  height: 1.69%;
  width: 120%;
  top: 93.07%;
  right: 0;
  bottom: 5.24%;
  left: 0;
  border-radius: 29px;
  background: linear-gradient(-81.59deg, #9fcbff, rgba(24, 122, 238, 0.75));
}
.quantumkrypto {
  position: absolute;
  width: 15.73%;
  top: 40.2%;
  left: 9.72%;
  font-size: 28px;
  display: flex;
  background: linear-gradient(
    91.38deg,
    red,
    #ff7a00 16.67%,
    rgba(255, 245, 0, 0.67) 33.47%,
    #17ff12 48.91%,
    #0038ff 66.61%,
    #8146fd 83.65%,
    #c0f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  justify-content: center;
}
.about,
.buy-nfts,
.contact,
.home,
.join-our-newsletter,
.krypto,
.market,
.sell-nfts {
  position: absolute;
  width: 5.95%;
  top: 40.88%;
  left: 32.45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about,
.buy-nfts,
.contact,
.home,
.join-our-newsletter,
.market,
.sell-nfts {
  width: 6.15%;
  left: 45.47%;
}
.about,
.buy-nfts,
.contact,
.home,
.join-our-newsletter,
.sell-nfts {
  width: 7.01%;
  left: 58.69%;
}
.about,
.buy-nfts,
.home,
.join-our-newsletter,
.sell-nfts {
  width: 17.32%;
  left: 72.77%;
}
.about,
.buy-nfts,
.home,
.sell-nfts {
  width: 62.11%;
  top: 0;
  left: 0;
  line-height: 119.05%;
}
.about,
.buy-nfts,
.sell-nfts {
  width: 63.16%;
  top: 28.49%;
}
.buy-nfts,
.sell-nfts {
  width: 100%;
  top: 56.98%;
}
.sell-nfts {
  width: 97.89%;
  top: 85.47%;
}
.under-krypto-footer {
  position: absolute;
  height: 29.05%;
  width: 7.49%;
  top: 54.22%;
  right: 59.8%;
  bottom: 16.72%;
  left: 32.72%;
  font-size: 21px;
}
.browse-nfts,
.buy-nfts1,
.sell-nfts1 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 119.05%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-nfts1,
.sell-nfts1 {
  width: 72.52%;
  top: 36.21%;
}
.sell-nfts1 {
  width: 70.99%;
  top: 78.45%;
}
.under-market-footer {
  position: absolute;
  height: 19.59%;
  width: 8.9%;
  top: 53.72%;
  right: 45.9%;
  bottom: 26.69%;
  left: 45.21%;
  font-size: 21px;
}
.email,
.linkedin,
.twitter {
  position: absolute;
  width: 53.54%;
  top: 0;
  left: 0;
  line-height: 119.05%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkedin,
.twitter {
  width: 84.85%;
  top: 28.49%;
}
.twitter {
  width: 70.71%;
  top: 85.47%;
}
.under-contact-footer {
  position: absolute;
  height: 29.05%;
  width: 7.41%;
  top: 52.7%;
  right: 33.9%;
  bottom: 18.24%;
  left: 58.69%;
  font-size: 21px;
}
.newsletter-email-box-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 44px;
  background-color: #546a7c;
}
.email1 {
  position: absolute;
  top: 26.49%;
  left: 7.26%;
  line-height: 119.05%;
  opacity: 0.6;
}
.submit-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 38px;
  background-color: #c5eaf8;
}
.submit1 {
  position: absolute;
  top: 12.19%;
  left: 17.45%;
  opacity: 0.6;
}
.submit {
  position: absolute;
  height: 47.45%;
  width: 28.83%;
  top: 27.54%;
  right: 4.34%;
  bottom: 25.01%;
  left: 66.84%;
  font-size: 14px;
  color: #1e1e1e;
}
.newsletter-email-box {
  position: absolute;
  height: 9.33%;
  width: 20.03%;
  top: 57.94%;
  right: 9.78%;
  bottom: 32.73%;
  left: 70.19%;
  font-size: 20px;
}
.logo-footer-icon {
  position: absolute;
  height: 30.74%;
  width: 11.63%;
  top: 51.01%;
  right: 77.59%;
  bottom: 18.24%;
  left: 10.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footer,
.footer-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 1513px;
  height: 592px;
}
.footer-home {
  top: 3986px;
  left: -40px;
  font-size: 25px;
}
.quantum-forum-child,
.quantum-forum-inner,
.quantum-forum-item {
  position: absolute;
  top: 926px;
  left: calc(50% + 305px);
  border-radius: 50%;
  background-color: #80ca74;
  filter: blur(591.4px);
  width: 592px;
  height: 592px;
  opacity: 0.52;
}
.quantum-forum-inner,
.quantum-forum-item {
  top: 531px;
  left: calc(50% - 897px);
  background-color: #4cdefe;
}
.quantum-forum-inner {
  top: 0;
  left: calc(50% + 113px);
  background-color: #fef74c;
}
.quantum-forum1 {
  position: absolute;
  top: 206px;
  left: calc(50% - 623px);
  font-family: Inter;
  opacity: 0.51;
}
.join-the {
  color: #fff;
}
.quantum-community {
  background: linear-gradient(
    90.91deg,
    red,
    #ffa800 15.9%,
    #fff500 31%,
    #00ff19 46.04%,
    #06f 63.63%,
    #bd00ff 80.39%,
    #ff00d6
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.join-the-quantum-community {
  margin: 0;
}
.learn {
  color: #ebff00;
}
.thrive {
  color: #ff0606;
}
.join-the-quantum-container {
  position: absolute;
  top: 239px;
  left: calc(50% - 623px);
  font-size: 47px;
  font-family: Inter;
  color: #1a15f5;
}
.user-interaction-1-child {
  position: absolute;
  top: 0;
  left: calc(50% - 608px);
  border-radius: 58px;
  background: linear-gradient(
    97.23deg,
    rgba(6, 141, 238, 0.3),
    rgba(85, 126, 155, 0.24)
  );
  width: 1216px;
  height: 291px;
}
.chat-image-icon {
  position: absolute;
  top: 23px;
  left: calc(50% - 587px);
  border-radius: 50%;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.user-1-chat-child {
  position: absolute;
  top: 0;
  left: calc(50% - 176.5px);
  border-radius: 23px;
  background-color: #89baf4;
  width: 353px;
  height: 67px;
  opacity: 0.2;
}
.just-secured-a {
  position: absolute;
  top: 21px;
  left: calc(50% - 149.5px);
  display: flex;
  align-items: center;
  width: 298px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.user-1-chat {
  position: absolute;
  top: 64px;
  left: calc(50% - 489px);
  width: 353px;
  height: 67px;
}
.chat-image-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% + 293.81px);
  border-radius: 50%;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.user-1-chat-item {
  position: absolute;
  top: 0;
  left: calc(50% - 323.31px);
  border-radius: 23px;
  background-color: #89baf4;
  width: 646.62px;
  height: 67px;
  opacity: 0.2;
}
.congrats-on-the {
  position: absolute;
  top: 19px;
  left: calc(50% - 272.69px);
  display: flex;
  align-items: center;
  width: 545.87px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.user-1-chat1,
.user-1-response {
  position: absolute;
  top: 41px;
  left: calc(50% - 375.81px);
  width: 646.62px;
  height: 67px;
}
.user-1-response {
  top: 135px;
  left: calc(50% - 188.62px);
  width: 751.62px;
  height: 108px;
}
.user-interaction-1 {
  position: absolute;
  top: 377px;
  left: calc(50% - 623px);
  width: 1216px;
  height: 291px;
}
.user-1-chat-inner {
  position: absolute;
  top: 0;
  left: calc(50% - 230px);
  border-radius: 23px;
  background-color: #89baf4;
  width: 460px;
  height: 67px;
  opacity: 0.2;
}
.any-tips-on {
  position: absolute;
  top: 20px;
  left: calc(50% - 191.67px);
  display: flex;
  align-items: center;
  width: 387.37px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.user-1-chat2 {
  position: absolute;
  top: 64px;
  left: calc(50% - 489px);
  width: 460px;
  height: 67px;
}
.chat-image-icon3 {
  position: absolute;
  top: 0;
  left: calc(50% + 277.5px);
  border-radius: 50%;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: calc(50% - 307px);
  border-radius: 23px;
  background-color: #89baf4;
  width: 614px;
  height: 67px;
  opacity: 0.2;
}
.diversify-with-a {
  position: absolute;
  top: 20px;
  left: calc(50% - 255px);
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.user-1-chat3 {
  position: absolute;
  top: 41px;
  left: calc(50% - 359.5px);
  width: 614px;
  height: 67px;
}
.user-1-response1 {
  position: absolute;
  top: 135px;
  left: calc(50% - 156px);
  width: 719px;
  height: 108px;
}
.user-interaction-2 {
  position: absolute;
  top: 692px;
  left: calc(50% - 623px);
  width: 1216px;
  height: 291px;
}
.user-1-chat-child1 {
  position: absolute;
  top: 0;
  left: calc(50% - 364.5px);
  border-radius: 23px;
  background-color: #89baf4;
  width: 729px;
  height: 67px;
  opacity: 0.2;
}
.exciting-times-what {
  position: absolute;
  top: 21px;
  left: calc(50% - 332.5px);
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.user-1-chat4 {
  position: absolute;
  top: 64px;
  left: calc(50% - 489px);
  width: 729px;
  height: 67px;
}
.chat-image-icon5 {
  position: absolute;
  top: 0;
  left: calc(50% + 359px);
  border-radius: 50%;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.user-1-chat-child2 {
  position: absolute;
  top: 0;
  left: calc(50% - 388.5px);
  border-radius: 23px;
  background-color: #89baf4;
  width: 777px;
  height: 67px;
  opacity: 0.2;
}
.weve-got-some {
  position: absolute;
  top: 20px;
  left: calc(50% - 359.5px);
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.user-1-chat5 {
  position: absolute;
  top: 41px;
  left: calc(50% - 441px);
  width: 777px;
  height: 67px;
}
.user-1-response2 {
  position: absolute;
  top: 135px;
  left: calc(50% - 319px);
  width: 882px;
  height: 108px;
}
.quantum-forum,
.user-interaction-3 {
  position: absolute;
  top: 1007px;
  left: calc(50% - 623px);
  width: 1216px;
  height: 291px;
}
.quantum-forum {
  top: 2190px;
  left: calc(50% - 882px);
  width: 1794px;
  height: 1518px;
  text-align: left;
  font-family: "Marko One";
}
.bit-buzz-news-group {
  overflow: hidden;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
.bit-buzz-news-group-child {
  position: absolute;
  top: 0;
  left: calc(50% - 765.5px);
  border-radius: 50%;
  background-color: #41afff;
  filter: blur(591.4px);
  width: 592px;
  height: 592px;
  opacity: 0.52;
}
.news-item-child {
  position: absolute;
  top: 0;
  left: calc(50% - 195px);
  border-radius: 24px;
  background-color: #546a7c;
  width: 390px;
  height: 424px;
}
.news-title {
  position: absolute;
  top: 212px;
  left: calc(50% - 71.27px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142.54px;
  height: 40.69px;
}
.lorem-ipsum-dolor-container1 {
  width: 100%;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: 270px;
  left: calc(50% - 149.47px);
  display: flex;
  align-items: center;
  width: 299.92px;
}
.image-8-icon {
  position: absolute;
  top: 6px;
  left: 80.18px;
  width: 229.64px;
  height: 190px;
  object-fit: cover;
}
.news-item,
.news-item-item {
  position: absolute;
  top: 2px;
  left: calc(50% - 1842.5px);
  width: 390px;
  height: 438px;
}
.news-item-item {
  top: 0;
  left: calc(50% - 196px);
  border-radius: 24px;
  background-color: #546a7c;
  width: 392px;
  height: 424px;
}
.lorem-ipsum-dolor-container2,
.news-title1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.news-title1 {
  top: 212px;
  left: calc(50% - 69.39px);
  justify-content: center;
  width: 145.86px;
  height: 40.69px;
}
.lorem-ipsum-dolor-container2 {
  top: 270px;
  left: calc(50% - 149.41px);
  width: 306.91px;
}
.image-8-icon1 {
  position: absolute;
  top: 6px;
  left: 82.05px;
  width: 235px;
  height: 190px;
  object-fit: cover;
}
.news-item1 {
  position: absolute;
  top: 2px;
  left: calc(50% - 1432.5px);
  width: 392px;
  height: 438px;
}
.lorem-ipsum-dolor-container4,
.news-title2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.news-title2 {
  top: 212px;
  left: calc(50% - 68.4px);
  justify-content: center;
  width: 147px;
  height: 40.69px;
}
.lorem-ipsum-dolor-container4 {
  top: 270px;
  left: calc(50% - 149.04px);
  width: 309.31px;
}
.image-8-icon2 {
  position: absolute;
  top: 6px;
  left: 82.69px;
  width: 236.83px;
  height: 190px;
  object-fit: cover;
}
.news-item2 {
  position: absolute;
  top: 2px;
  left: calc(50% - 1020.5px);
  width: 392px;
  height: 438px;
}
.news-item3,
.news-item4,
.news-item5 {
  position: absolute;
  top: 0;
  left: calc(50% - 605.5px);
  width: 390px;
  height: 438px;
}
.news-item4,
.news-item5 {
  left: calc(50% + 628.5px);
}
.news-item5 {
  left: calc(50% - 195.5px);
  width: 392px;
}
.news-item6,
.news-item7,
.news-item8,
.slide-group {
  position: absolute;
  top: 0;
  left: calc(50% + 1038.5px);
  width: 392px;
  height: 438px;
}
.news-item7,
.news-item8,
.slide-group {
  left: calc(50% + 216.5px);
}
.news-item8,
.slide-group {
  left: calc(50% + 1450.5px);
}
.slide-group {
  left: calc(50% - 720px);
  width: 3685px;
  height: 440px;
}
.bit-buzz-slide-frame {
  position: absolute;
  top: 196px;
  left: calc(50% - 674.5px);
  width: 1440px;
  height: 439px;
  overflow-x: auto;
}
.real-time {
  color: #f00f0f;
}
.crypto-insights {
  color: #3555ea;
}
.stay-ahead-with-container {
  position: absolute;
  top: 77px;
  left: calc(50% - 562.5px);
  font-size: 47px;
  display: flex;
  align-items: center;
  width: 1216px;
  height: 106px;
}
.bit-buzz {
  position: absolute;
  top: 65px;
  left: calc(50% + 5.5px);
  text-align: left;
  opacity: 0.51;
}
.bit-buzz-news-group {
  position: absolute;
  top: 1694px;
  left: calc(50% - 811px);
  width: 1531px;
  height: 635px;
}
.call-to-action-child {
  position: absolute;
  top: 0;
  left: calc(50% + 151.5px);
  border-radius: 50%;
  background-color: #b43aff;
  filter: blur(591.4px);
  width: 592px;
  height: 592px;
  opacity: 0.52;
}
.call-to-action-item {
  position: absolute;
  top: 19px;
  left: calc(50% - 743.5px);
  border-radius: 29px;
  background: linear-gradient(-81.59deg, #9fcbff, rgba(24, 122, 238, 0.75));
  width: 1216px;
  height: 417px;
}
.ready {
  color: red;
}
.are-you-ready-container {
  position: absolute;
  top: 53px;
  left: calc(50% - 222.5px);
}
.big-thing {
  color: #e63737;
}
.be-a-part-container {
  position: absolute;
  top: 114px;
  left: calc(50% - 495.5px);
  font-size: 80px;
}
.prime {
  background: linear-gradient(
    91.52deg,
    red,
    #ff6b00 16%,
    #ffec3f 32.5%,
    #07ff11 50.5%,
    #06f 68%,
    #b250ff 84%,
    #ff01f5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.get-quantum-prime-container {
  position: relative;
  text-transform: uppercase;
}
.view-pricing {
  position: absolute;
  top: 345px;
  left: calc(50% - 245.5px);
  border-radius: 38px;
  background-color: #002533;
  width: 219px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 26px;
  box-sizing: border-box;
  font-size: 16px;
}
.call-to-action,
.portfolio-hero-child {
  position: absolute;
  top: 1237px;
  left: calc(50% - 605px);
  width: 1487px;
  height: 592px;
}
.portfolio-hero-child {
  top: 91px;
  left: calc(50% - 732px);
  border-radius: 50%;
  background-color: #87ff72;
  filter: blur(591.4px);
  width: 592px;
  opacity: 0.52;
}
.built-in-nft-analytics {
  position: absolute;
  top: 84px;
  left: calc(50% + 217px);
  font-size: 47px;
  display: flex;
  align-items: center;
  width: 515px;
  height: 130px;
}
.harness-insights-with,
.view-pricing1 {
  position: absolute;
  left: calc(50% + 219px);
  display: flex;
  align-items: center;
}
.harness-insights-with {
  top: 229px;
  font-size: 16px;
  line-height: 22px;
  width: 513px;
  height: 65px;
}
.view-pricing1 {
  top: 333px;
  border-radius: 38px;
  background-color: #c5eaf8;
  width: 197px;
  height: 63px;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 26px;
  box-sizing: border-box;
  text-align: center;
  color: #1e1e1e;
}
.sapiens-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 482px);
  width: 598.29px;
  height: 508px;
}
.portfolio {
  position: absolute;
  top: 57px;
  left: calc(50% + 219px);
  opacity: 0.51;
}
.portfolio-hero {
  position: absolute;
  top: 729px;
  left: calc(50% - 858px);
  width: 1464px;
  height: 683px;
  text-align: left;
}
.nft-hero-child {
  position: absolute;
  top: 223px;
  left: calc(50% + 140px);
  border-radius: 50%;
  background-color: #d92687;
  filter: blur(591.4px);
  width: 592px;
  height: 592px;
  opacity: 0.52;
}
.rare-nfts {
  color: #ea3540;
}
.discover-and-collect-container {
  position: absolute;
  top: 93px;
  left: calc(50% - 732px);
  font-size: 80px;
  display: flex;
  align-items: center;
  width: 515px;
  height: 280px;
  color: #3555ea;
}
.the-most-secure {
  position: absolute;
  top: 389px;
  left: calc(50% - 728px);
  display: flex;
  align-items: center;
  width: 459px;
  height: 66px;
}
.buy-nfts-child {
  position: absolute;
  top: 0;
  left: calc(50% - 84.77px);
  border-radius: 38px;
  background-color: #c5eaf8;
  width: 169.55px;
  height: 49.13px;
}
.explore-now {
  position: absolute;
  top: 15px;
  left: calc(50% - 58.77px);
}
.buy-nfts2,
.sell-nfts-child {
  position: absolute;
  width: 169.55px;
  height: 49.13px;
}
.buy-nfts2 {
  top: 471px;
  left: calc(50% - 727px);
  text-align: center;
  color: #1e1e1e;
}
.sell-nfts-child {
  top: 0;
  left: calc(50% - 84.77px);
  border-radius: 38px;
  border: 2px solid #e8837e;
  box-sizing: border-box;
}
.rare-finds,
.sell-nfts2 {
  position: absolute;
  top: 15px;
  left: calc(50% - 46.54px);
}
.sell-nfts2 {
  top: 471px;
  left: calc(50% - 525.24px);
  width: 169.55px;
  height: 49.13px;
  text-align: center;
}
.storyline-cryptocurrency-and-n-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 109px);
  width: 595px;
  height: 595px;
  object-fit: cover;
}
.nft-hero,
.testimonials {
  position: absolute;
  text-align: left;
}
.nft-hero {
  top: 134px;
  left: calc(50% - 610px);
  width: 1464px;
  height: 815px;
  font-size: 16px;
}
.testimonials {
  top: 0;
  left: calc(50% - 77px);
  opacity: 0.51;
}
.read-what-others-container {
  position: absolute;
  top: 24px;
  left: calc(50% - 220px);
  font-size: 47px;
}
.testimonial-child {
  position: absolute;
  top: 93px;
  left: calc(50% - 197px);
  border-radius: 24px;
  background-color: #546a7c;
  width: 394px;
  height: 323px;
}
.evan-white {
  position: absolute;
  top: 196px;
  left: calc(50% - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 31px;
}
.mask-group-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 93px);
  width: 186px;
  height: 186px;
  object-fit: cover;
}
.lorem-ipsum-dolor-container18 {
  position: absolute;
  top: 248px;
  left: calc(50% - 152px);
  display: flex;
  align-items: center;
  width: 303px;
}
.testimonial-item {
  position: absolute;
  top: 19px;
  left: calc(50% + 57px);
  border-radius: 50%;
  background-color: #85c8c8;
  width: 30px;
  height: 30px;
  mix-blend-mode: screen;
}
.testimonial,
.testimonial1,
.testimonial2 {
  position: absolute;
  top: 177px;
  left: calc(50% - 609px);
  width: 394px;
  height: 416px;
}
.testimonial1,
.testimonial2 {
  left: calc(50% - 197px);
}
.testimonial2 {
  left: calc(50% + 215px);
}
.testimonial-section {
  position: absolute;
  top: 3554px;
  left: calc(50% - 608px);
  width: 1218px;
  height: 593px;
}
.navbar-child {
  position: absolute;
  height: 100%;
  width: 40.41%;
  top: 0;
  right: 59.59%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffd9b7;
  filter: blur(591.4px);
  opacity: 0.52;
}
.quantumkrypto1 {
  position: absolute;
  top: 22.97%;
  left: 17.2%;
  font-size: 48px;
  background: linear-gradient(
    91.38deg,
    red,
    #ff7a00 16.67%,
    rgba(255, 245, 0, 0.67) 33.47%,
    #17ff12 48.91%,
    #0038ff 66.61%,
    #8146fd 83.65%,
    #c0f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sign-up-child {
  position: absolute;
  height: 100%;
  width: 97.06%;
  top: 0;
  right: 0.16%;
  bottom: 0;
  left: 2.77%;
  border-radius: 47px;
  border: 3px solid #600269;
  box-sizing: border-box;
}
.sign-up1 {
  position: absolute;
  height: 82.22%;
  width: 100%;
  top: 8.89%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in-child,
.sign-up {
  position: absolute;
  height: 9.8%;
  width: 11.19%;
  top: 22.97%;
  right: 12.42%;
  bottom: 67.23%;
  left: 76.38%;
}
.log-in-child {
  height: 100%;
  width: 97.06%;
  top: 0;
  right: 0.16%;
  bottom: 0;
  left: 2.77%;
  border-radius: 47px;
  background-color: #600269;
}
.log-in {
  position: absolute;
  height: 9.8%;
  width: 11.19%;
  top: 22.97%;
  right: 0;
  bottom: 67.23%;
  left: 88.81%;
}
.nft-bazaar,
.quantum-forum2 {
  position: absolute;
  top: 17.78%;
  left: 78.91%;
}
.nft-bazaar {
  left: 22.71%;
}
.bit-buzz1,
.portfolio1 {
  position: absolute;
  height: 82.22%;
  width: 14.04%;
  top: 8.89%;
  left: 41.48%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bit-buzz1 {
  width: 16.71%;
  left: 58.86%;
}
.quantum-hub {
  position: absolute;
  top: 17.78%;
  left: 5.68%;
}
.active-tab-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: #d9d9d9;
  width: 176px;
  height: 45px;
  opacity: 0.2;
}
.active-tab,
.nav-tabs {
  position: absolute;
  height: 100%;
  width: 20.39%;
  top: 0;
  right: 79.61%;
  bottom: 0;
  left: 0;
}
.nav-tabs {
  height: 7.6%;
  width: 58.91%;
  top: 35.64%;
  right: 23.89%;
  bottom: 56.76%;
  left: 17.2%;
}
.navbar,
.navbar-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 1465px;
  height: 592px;
}
.navbar-home {
  text-decoration: none;
  top: -101px;
  left: -139px;
  font-size: 24px;
  color: inherit;
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: #090419;
  height: 4549px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-family: Inter;
}
